/* css for add and disp */
/* media queries for the lot */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  font-family: 'Open Sans', sans-serif;
}
/* home page */
/* add media query for over 500 */
.title{
  background-color: #AB2A19;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  display: flex;
  padding: 10px;
  padding-left: 18vw;  
}
.homeH1{
  padding-left: 15px;
  padding-top: 15px;
  text-transform: uppercase
}
.homeImg{
  height:6vh
}
.homeBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

button{
  background-color: #D34735;
  font-size: 3vh;
  color: white;
  width: 50vw;
  height: 6vh;
  padding-right: 25vw;
  margin: 2%;
  border: none;
  border-radius: 5px
}

/* add media query for over 500 */
/* shelf page */
.shelf{
  display: flex;
}
/* bins page */
.binsBtn{
  display: flex;
  flex-direction: column;
  align-items: center
}
.nullBtn{
  background-color: #FFB8AF;
  color: black;
  padding-right: 5vw;
  font-size: 2.5vh;
  width: 60vw;
  height: 5vh;
  margin: 7px
}
.binBtn{
  background-color: #ED6B5A;
  font-size: 2.5vh;
  width: 60vw;
  height: 5vh;
  margin: 7px
}

.binsH1{
  background-color: #D34735;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  display: flex;
  height: 6vh;
  padding-top: 1.5vh;
  padding-left: 2vw;
  width: 100%;
  margin-bottom: 10px;
  border: none
}
.nav{
  height: 6vh;
  padding: 2vh;
  padding-left: 9vw;
  padding-right: 9vw;
  border: none
}

/* add bins page */

/* fix centered words */
/* round outline */
/* also binNum background */
.addHeader{
  display: flex;
  width: 100vw;
}
.addH1{
  background-color: #D34735;
  color: white;
  font-size: 2.5vh;
  font-weight: bold;
  height: 6vh;
  width: 26vw;
  padding-top: 1.5vh;
  padding-left: 2vw;
  margin-bottom: 10px;
  padding-right: 6vw
}
.addH2{
  background-color: #FFB8AF;
  font-size: 2.5vh;
  font-weight: bolder;
  height: 6vh;
  padding-top: 1.5vh;
  padding-left: 2vw;
  width: 100%
}
a:link{
  text-decoration: none
}
.addMain{
  display: flex;
  flex-direction: column;
  align-items: center
}
.addP{
  font-size: 1.5vh;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.inputAdd{
  width: 43vw;
  height: 4vh;
  font-size: 1.5vh;
  font-weight: bold;
  border-radius: 10px;
  border-color: #D34735;
  border-width: 2px;
  padding-left: 5px;
}
.inputAdd:focus{
  outline: 4px solid #AB2A19
}
.addBtn{
  background-color: #40F99B;
  width: 43vw;
  height: 4vh;
  font-size: 1.5vh;
  font-weight: bold;
  border-radius: 40px;
  color: black;
  padding-right: 0vw;
  margin-top: 2.5vh
}

/* display bin edit */
.binDispBtn{
  background-color: #D8D8D8;
  border: none;
  border-radius: 5px;
  width: 20vw;
  height: 5vh;
  color: black;
  font-weight: bold;
  font-size: 2vh;
  padding-right: 0;
  text-transform: uppercase;
  margin-top: 10px
}
.dispMain{
  display: flex;
}
.dispImg{
  margin-left: 8vw;
}
.dispDetails{
  margin-left: 5vw;
  margin-top: 4px
}
.dispBtns{
  display: flex;
}
.dispInput{
  border-style: solid;
  border-color: #D34735;
  border-width: 1px;
  border-radius: 5px;
  width: 40vw;
  height: 5vh;
  font-size: 2.5vh;
  font-weight: bolder;
  text-transform: capitalize;
  padding-left: 5px;
  padding-top: 6px;
  margin-top: 1vh;
  margin-bottom: 1vh
}
.dispNames{
  font-size: 1.5vh;
  font-weight: bold
}

/* display bin save */
.dispMainSave{
  display: flex;
  flex-direction: column;
  align-items:center
}
.dispSaveBtn{
  background-color: #40F99B;
  border: none;
  border-radius: 40px;
  width: 20vw;
  height: 5vh;
  color: black;
  font-weight: bold;
  font-size: 2vh;
  padding-right: 0;
  text-transform: uppercase;
  margin-top: 10px
}

/* small */
@media only screen and (min-width: 550px){
  .nullBtn{
    padding-right: 9.5vw
  }
}
  
  /* body{
    background-color: #FFB8AF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;

  } 
 .middle{
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0
  } */


/* medium */
@media only screen and (min-width: 780px){
  .nullBtn{
    padding-right: 14.5vw
  }
}

/* large */
@media only screen and (min-width: 1100px){
  .nullBtn{
    padding-right: 17.5vw
  }
}

/* XL */
/* @media only screen and (min-width: 1200px){} */


